<html>
  <body>
    <div class="first_tab">
      <p>Blocipedia: Social markdown wikis!</p>
    </div>
    <div class= "signup_tab">
      <p> Create and share mark down wikis</p>
      <button type = button>Sign Up</button>
    </div>
    <div class= "last_tab">
      <div class= "col-md-8">
        <p>create unlimited public wikis</p>
        <p>Create private wikis</p>
        
  </body>
</html>