

body {
  background-color: lightblue;
}

.first_tab{
  text-align :center;
  padding : 20px 70px 50px;
}

.signup_tab{
  text-align :center;
  border : 5px solid;
  width : 300px;
  height : 100px;
  padding: 25px 50px 25px;
  margin-left : 420px
}
.last_tab {
  display: inline;
}
